[submodule "Chronicle"]
	path = Chronicle
	url = https://github.com/cratis/chronicle
[submodule "Arc"]
	path = Arc
	url = https://github.com/cratis/Arc
[submodule "Fundamentals"]
	path = Fundamentals
	url = https://github.com/cratis/fundamentals
[submodule "Samples"]
	path = Samples
	url = https://github.com/cratis/samples
[submodule "GitHubLanding"]
	path = GitHubLanding
	url = https://github.com/cratis/.github
[submodule "Components"]
	path = Components
	url = https://github.com/Cratis/Components
[submodule "CLI"]
	path = CLI
	url = https://github.com/cratis/cli
[submodule "Architecture"]
	path = Architecture
	url = https://github.com/Cratis/Architecture
[submodule "Chronicle.Kotlin"]
	path = Chronicle.Kotlin
	url = https://github.com/Cratis/Chronicle.Kotlin
[submodule "Chronicle.Elixir"]
	path = Chronicle.Elixir
	url = https://github.com/Cratis/Chronicle.Elixir
[submodule "Chronicle.TypeScript"]
	path = Chronicle.TypeScript
	url = https://github.com/Cratis/Chronicle.TypeScript
