[submodule "Chronicle"]
	path = Chronicle
	url = https://github.com/cratis/chronicle
[submodule "Arc"]
	path = Arc
	url = https://github.com/cratis/Arc
[submodule "Fundamentals"]
	path = Fundamentals
	url = https://github.com/cratis/fundamentals
[submodule "Samples"]
	path = Samples
	url = https://github.com/cratis/samples
[submodule "GitHubLanding"]
	path = GitHubLanding
	url = https://github.com/cratis/.github
[submodule "Components"]
	path = Components
	url = https://github.com/Cratis/Components
