[submodule "Chronicle"]
	path = Chronicle
	url = https://github.com/cratis/chronicle
[submodule "ApplicationModel"]
	path = ApplicationModel
	url = https://github.com/cratis/ApplicationModel
[submodule "Fundamentals"]
	path = Fundamentals
	url = https://github.com/cratis/fundamentals
[submodule "Samples"]
	path = Samples
	url = https://github.com/cratis/samples
